<section class="newsletter">
    <div class="container">
        <div class="title"><i class="fa fa-paper-plane" aria-hidden="true"></i> Đăng ký nhận chương trình khuyến mãi!</div>
        <form class="is-flex">
            <input type="text" id="email-newsletter" class="form-control" placeholder="Email của bạn">
            <button type="button" ><i class="fa-solid fa-envelope"></i></button>
        </form>
    </div>
</section>
<div class="is-flex">
    <div class="container">
        <div class="col-info company-info">
            <a href="/">
                <img src="./image/logo.png"  />
            </a>
            <b style="">
                Công Ty TNHH TECH ASPIRE
            </b>
            <div>
                <i class="fa-solid fa-map-pin" style="color: dodgerblue"></i>
                Thành phố Đà Nẵng
            </div>
           
            <div>
                <i class="fa fa-phone" style="color: dodgerblue"></i>
                07880808
            </div>
          
            <div>
                <i class="fa-solid fa-envelope" style="color: dodgerblue"></i>
                quocthi.dev@gmail.com
            </div>
            <b>Phương thức thanh toán</b>
            <div>
                <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Icon-VNPAY-QR.png" style="width: 30px" ; height="30px" />
            </div>
           
        </div>
        <div class="col-info">
            <b>Thông tin chung</b>
            <div>
               
                <a href="#">Giới thiệu về TECH ASPIRE </a>
                <br />
                <a href="#">Tin tuyển dụng </a>
                <br />
                <a href="#">Tin tức </a>
                <br />
                <a href="#">Tin khuyến mãi </a>
                <br />
                <a href="#">Liên hệ, góp ý </a>
                <br />
                <a href="#">Khách hàng doanh nghiệp</a>
                <br />
                <a href="#">Tài khoản công ty</a>

            </div>
            
        </div>
        <div class="col-info">
            <b>Hỗ trợ khách hàng</b>
            <div>

                <a href="#">Tìm hiểu về mua trả góp </a>
                <br />
                <a href="#">Chính sách vận chuyển, giao hàng </a>
                <br />
                <a href="#">Chính sách, quy định chung </a>
                <br />
                <a href="#">Chính sách bảo hành</a>
                <br />
                <a href="#">Chính sách đổi, trả lại hàng</a>
                <br />
                <a href="#">Bảo mật thông tin khách hàng</a>


            </div>
        </div>
        <div class="col-info">
            <img src=""  />
        </div>
       
    </div>
    
    

</div>