<div class="header ">
    <div class="is-flex ">
        <a href="/" class="img_logo"> <img class="" src="./image/logo.png" alt="Logo" /></a>

        <div class=" main-search ">
            <form class="">
                <div class="input-text">
                    <input id="text-search" placeholder="Nhập từ khóa tìm kiếm" class="text-search" />
                    <button class="search-btn fa fa-search" />
                </div>
            </form>
        </div>
        <div class="is-flex header-right">
            <div class="item">
                <i class="fa-solid fa-bolt icons " style="color : dodgerblue "></i>
                <a href="#">
                    <h4>Flase Sale</h4>
                </a>
            </div>
            <div class="item">
                <i class="fa-solid fa-newspaper icons" style="color : dodgerblue "></i>
                <a href="#">
                    <h4>Tin tức</h4>
                </a>
            </div>
            <div class="item ">
                <i class="fa fa-shopping-basket icons" style="color : dodgerblue "></i>
                <b class="">0</b>
                <a href="#">
                    <h4>Giỏ hàng</h4>
                </a>
            </div>
        </div>
    </div>

</div>