
<nav class="is-flex ">
    <div class="container is-flex section-web">
        <div class="main-menu">
            <div class="title" style="width : 240px;">
                <i class="fa fa-bars"></i>
               DANH MỤC SẢN PHẨM
            </div>
            <div class="list">

            </div>
        </div>
    </div>
    <div class="nav-right" style="margin-left:20px;">
        <div class="promotion-news">
            <div class="is-flex" style="margin-top: 1px">
                <div style="background:dodgerblue; border-radius: 50px"> <i style="padding : 11px ; color : white" class="fa-solid fa-gift"></i></div>
                <div  class="list owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-item cloned" style="width: 4789px;">
                            <div style="padding : 5px; margin-top: 5px">
                                <a href="#">Miễn Phí Thay Mới Màn Hình Laptop Chỉ Có Tại TECH ASPIRE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
