<div class="is-flex is-justify-content-space-between header-top" >


    <div class="is-flex header-section" style="gap: 15px;">
            <div class="is-flex">
                <i class="fa-solid fa-phone-volume" style="color: dodgerblue; margin-top: 5px ; margin-right: 5px"></i>
                <a>Bán hàng trực tuyến</a>
            </div>
            <div class="is-flex">
                <i class="fa-solid fa-money-bill" style="color: dodgerblue ; margin-top: 5px ;  margin-right: 5px"></i>
                <a>Hướng dẫn trả góp</a>
            </div>
            <div class="is-flex">
                <i class="fa-solid fa-ticket-simple" style="color: dodgerblue ; margin-top: 5px ;  margin-right: 5px"></i>
                <a>Khuyến mãi</a>
            </div>
            <div class="is-flex contact-box">

                <a class="hover-a">Liên hệ</a>
            </div>

        </div>


    <div class="is-flex header-section">
            <i class="fa-solid fa-circle-user" style="color: dodgerblue ; margin-top: 5px ;  margin-right: 5px"></i>
            <a class="hover-a" href="/login">Đăng nhập</a>
            /
        <a style="margin-left: 5px" class="hover-a" href="/register">Đăng kí</a>
        </div>

</div>
